<template name="page1">
<div class="container">
    <h1>Page1</h1>
    <p>
    Lorem ipsum ultricies risus sit tempor mattis turpis, scelerisque vitae aliquet egestas inceptos semper a, risus turpis molestie porta inceptos justo dictumst volutpat litora gravida eget sit diam morbi curabitur eleifend eget augue adipiscing a.
    <br><br>

    Sit fringilla facilisis himenaeos at vivamus gravida senectus fermentum ad pharetra, venenatis platea pharetra class nullam rutrum posuere egestas dapibus dui magna sapien duis nisi fames erat aenean nulla.

    Augue placerat fringilla sodales rutrum ultricies bibendum curae, hac tincidunt vehicula scelerisque laoreet curae, dictumst convallis phasellus integer nam facilisis augue etiam pretium aenean eros aliquet cras lobortis tortor aliquet.
    <br><br>

    Cubilia feugiat imperdiet scelerisque sed eleifend per eleifend, quisque elementum leo at donec phasellus, nullam non ullamcorper class tortor tempus.

    Tincidunt litora habitasse euismod iaculis sagittis rutrum nam est lacus, torquent pharetra mi sed et aliquam cras aenean, sed nec fringilla amet fermentum est mauris commodo.
    </p>

    <p>
        Lorem ipsum ultricies risus sit tempor mattis turpis, scelerisque vitae aliquet egestas inceptos semper a, risus turpis molestie porta inceptos justo dictumst volutpat litora gravida eget sit diam morbi curabitur eleifend eget augue adipiscing a.
        <br><br>

        Sit fringilla facilisis himenaeos at vivamus gravida senectus fermentum ad pharetra, venenatis platea pharetra class nullam rutrum posuere egestas dapibus dui magna sapien duis nisi fames erat aenean nulla.

        Augue placerat fringilla sodales rutrum ultricies bibendum curae, hac tincidunt vehicula scelerisque laoreet curae, dictumst convallis phasellus integer nam facilisis augue etiam pretium aenean eros aliquet cras lobortis tortor aliquet.
        <br><br>

        Cubilia feugiat imperdiet scelerisque sed eleifend per eleifend, quisque elementum leo at donec phasellus, nullam non ullamcorper class tortor tempus.

        Tincidunt litora habitasse euismod iaculis sagittis rutrum nam est lacus, torquent pharetra mi sed et aliquam cras aenean, sed nec fringilla amet fermentum est mauris commodo.
    </p>
</div>
</template>