/* CSS declarations go here */
flatui-turquoise = #1abc9c
flatui-greensea = #16a085
flatui-emerald = #2ecc71
flatui-nephritis = #27ae60
flatui-peterriver = #3498db
flatui-belizehole = #2980b9
flatui-amethyst = #9b59b6
flatui-wisteria = #8e44ad
flatui-wetasphalt = #34495e
flatui-midnightblue = #2c3e50
flatui-sunflower = #f1c40f
flatui-orange = #f39c12
flatui-carrot = #e67e22
flatui-pumpkin = #d35400
flatui-alizarin = #e74c3c
flatui-pomegranate = #c0392b
flatui-clouds = #ecf0f1
flatui-silver = #bdc3c7
flatui-concrete = #95a5a6
flatui-asbestos = #7f8c8d

@import 'nib'
body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 300
  color: flatui-midnightblue
  -webkit-user-select: none
  line-height: 1.5em
  background: flatui-clouds
  .container
    width: 100%
    height: 100%
    padding: 1.5em 0.75em

    max-width: 1200px
    margin: 0 auto
  h5
    background-color flatui-silver

.bg-red
  background-color red
.bg-blue
  background-color blue
.bg-green
  background-color green
.centered
  text-align center
  font-size large
  color #ffffff
  line-height 30px
.centeredBox
  text-align center
  font-size large
  color #ffffff
  line-height 50px
.backing
  background-color darkslategrey
.primary-bg, .secondary-bg, .success-bg
  cursor: pointer

.primary-bg
  background: flatui-clouds
  color: grey


.secondary-bg
  background: flatui-clouds
  color: flatui-midnightblue
  padding-left 5px
  border-bottom solid #000000 1px

.header
.footer
  background-color flatui-silver
  color black
  line-height 50px
  font-size x-large
  padding-left 10px


.header-icon
  color: grey
  z-index: 20
  font-family: Fontawesome
  cursor: pointer
  font-size x-large
  a
    color grey
    text-decoration none
  a:hover
    color grey
.mybtn
  z-index: 20
  cursor: pointer
  font-size large
  text-align center
.footbtn
  z-index: 20
  cursor: pointer
  font-size large
  text-align center
  line-height 30px
.teven
  background-color: #007A99 !important
.todd
  background-color: #0093B8 !important
.bg-yellow
  background-color: #ffff00
.taskData
  text-align:  left
  font-size: medium;
  color: white
  width: 100%
  padding-left: 5px
.task

  background-color: #ffffff

  height: 100%

.inputf
  font-size large

.hide
  display: none
.headText
  color black
  z-index: 20
  font-size x-large
  text-align center
  line-height 50px

.ev_surface_click
  border-radius 25px
  text-align center
  line-height 100px
  font-size xx-large
  border 1px solid #000000

.redCard
  font-size: 26px
  padding-top: 40px
  color: white
  text-align: center
  background-color: red
  cursor: pointer
  border: solid 2px black
  border-radius 20px
.headerData
  border: solid 2px black
  background-color flatui-peterriver

.circle
  background-color: white
  border-radius: 100px
  pointer-events : none
  z-index: 1
  border: solid 2px green

.headText2
  color black
  font-size x-large
  text-align center
  line-height 25px
  padding-left 10px
  padding-right 10px

.pop
  background-color bisque
  border-radius 20px
  border solid #000000 2px
  padding-left 10px
  padding-top 10px

.headArrows
  color #0000ff
  z-index: 20
  font-size x-large
  text-align center
  line-height 50px

.sidebar
  text-align center
  padding-top 10px

.sidebarback
  background-color flatui-peterriver
  border-radius 10px
  border solid grey 2px
