<Template name="homeContent">
<div class="container">
    <h1>Meteor and Famo.us</h1>
    <h4>Meteor and Famo.us integration for building performant reactive applications! </h4>


    <p><i class="fa fa-file-text-o fa-2x"></i> Pages are being rendered with a new technology called Famo.us. It uses browser matrix3d transforms and animation frames running
        at 60fps
        to provide fast animations and makes a web app respond and act like a native iOS or Android app.
    </p>



    <h4>Templating with famous-views</h4>

        {{>buttons}}

</div>
</Template>


