<Template name="pop7">
    <h3>The Next Level</h3>
    <ul>
        <li>Bringing it all together</li>
        <li>Focus on layout and user experience</li>
        <li>Must think in 3 dimensions and layers</li>
        <li>Interesting (but simple) animations</li>
        <li>All the basic components for a mobile app</li>
        <li>Sliding header/footer panel</li>
        <li>Animated menu sidebar and menu items</li>
        <li>And again - very little code</li>
        <li>Looks and responds nicely on iPhone</li>
    </ul>
</Template>